.container {
  padding: 16px;

  .message {
    span {
      font-weight: 600;
      font-size  : 16px;
      line-height: 22px;
      color      : var(--violet);
    }
  }

  .input {
    display        : flex;
    gap            : 15px;
    justify-content: center;
  }

  .button {
    margin-top: 20px;
  }
}

/* Remove arrows from number field */
/* Chrome, Safari, Edge, Opera */
input::-webkit-inner-spin-button,
input::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin            : 0;
}
