.container {
  padding: 16px;

  .input {
    display        : flex;
    gap            : 15px;
    justify-content: center;
  }
}

/* Remove arrows from number field */
/* Chrome, Safari, Edge, Opera */
input::-webkit-inner-spin-button,
input::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin            : 0;
}
