.button {
  width           : 100%;
  padding         : 11px 0;
  border-radius   : 10px;
  border          : none;
  color           : var(--violet);
  font-size       : 16px;
  font-weight     : 600;
  background-color: var(--white);
  cursor          : pointer;

  &[disabled] {
    color           : var(--gray);
    background-color: var(--light-gray);
    cursor          : auto;
  }
}
