.button {
  width           : 100%;
  padding         : 11px 0;
  border-radius   : 10px;
  border          : none;
  font-size       : 16px;
  font-weight     : 600;
  color           : var(--white);
  background-color: var(--violet);
  cursor          : pointer;
  transition      : all 400ms ease;

  &:hover {
    color           : var(--violet);
    background-color: var(--white);
  }

  &[disabled] {
    color           : var(--white);
    background-color: var(--light-violet);
    cursor          : auto;
  }
}
